$yellow: #ffbe0d;
.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron{
  background-image: url('/image/legal03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 260px;
}

a{
  color: #6C757D;
}

.card-servicios{
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

footer{
  padding: 10px   0px 0  0px;
  background-color: #22262A;
  color: #6C757D;
  .margenes(15px, 0px);
}