 * {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }


.jumbotron{
	background-color: blue;
	color: black;
}


footer {
	background: #BB1F35;
	padding: 10px 10px 0 10px;
	background-color: #007bff !important;
	margin-bottom: 6px;
	margin-top: 100px;
}